<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pre_run</key>
	<array>
		<string>Running is the greatest metaphor for life, because you get out of it what you put into it.</string>
		<string>One run can change your day, many runs can change your life.</string>
		<string>After all, if you run far enough, no one can catch you.</string>
		<string>If it doesn’t challenge you, it won’t change you.</string>
		<string>Get going … walk if you have to, but finish the damned race.</string>
		<string>Someone who is busier than you is running right now.</string>
		<string>Someday you won’t be able to do this. Today is not that day.</string>
		<string>I’m not telling you it’s going to be easy… I’m telling you it’s going to be worth it.</string>
		<string>Running is therapy anyone can afford.</string>
		<string>Your body is made to move so move it.</string>
		<string>Run hard when it’s hard to run.</string>
	</array>
</dict>
</plist>
