<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042075405973-t1shh92mtuqj3df82bkv9bh1dm2l30pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042075405973-t1shh92mtuqj3df82bkv9bh1dm2l30pg</string>
	<key>API_KEY</key>
	<string>AIzaSyBLZtNb6cFL4YHRgM2MS_CMIRYRPj_z5J0</string>
	<key>GCM_SENDER_ID</key>
	<string>1042075405973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prashpukale.RunMate</string>
	<key>PROJECT_ID</key>
	<string>run-mate-d2f70</string>
	<key>STORAGE_BUCKET</key>
	<string>run-mate-d2f70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042075405973:ios:a92a39b6fcf02d5fe0559c</string>
</dict>
</plist>